@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: hsl(236, 33%, 92%);
  font-family: "Josefin Sans", serif;
}

.josefin-regular {
  font-family: "Josefin Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-bold {
  font-family: "Josefin Sans", serif;
  font-weight: 700;
  font-style: normal;
}
